# Git
.git
.gitattributes
php-devops-tp/.gitignore

# Github
.github

# CircleCI
../.circleci

 # JetBrains IDEs
.idea

# Vscode
.vscode

# Docker
.dockerignore
Dockerfile
docker-compose.override.yml
docker/docker-compose.yml
docker
docs

# Miscellanenous
.editorconfig
.phpunit.result.cache
.vagrant
vendor
